## Useful environment vars (for CUDA 11)
# set PYTHONUTF8=1  (useful on windows)
# set CT_CUBLAS=1   (build ctransformers with CUDA enabled)
# Ref: https://github.com/marella/ctransformers/blob/main/README.md#langchain

transformers
ctransformers
langchain
langchain[llms]
unstructured[local-inference]
chromadb

requests
# https://stackoverflow.com/questions/76247540/loading-data-using-unstructuredurlloader-of-langchain-halts-with-tp-num-c-buf
python-magic
python-magic-bin
tabulate
pdf2image
pytesseract

# download torch on its offical website